<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫程序</title>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<h1>爬虫程序运行接口</h1>
<form action="/run_spider" method="post">
    <label for="spider_name">请输入爬虫名称：</label>
    <input type="text" name="spider_name" id="spider_name"/>
    <button type="submit">运行爬虫</button>
</form>

<form action="python接口地址" method="post">
    <input type="hidden" name="value" value="y"/>
    <input type="submit" value="更换ip"/>
</form>
<div id="message"></div>
<script>
    var ws = new WebSocket("ws://localhost:8080/echo");
    ws.onmessage = function (event) {
        document.getElementById("message").innerHTML = event.data;
    };
</script>

<div class="result">
    <p>爬虫运行结果：</p>
    <div class="show_result">
    </div>
</div>
</body>